
html {
    min-height: 100vh;
}
.text-payment__block{
    margin-top: 5rem;
}
.payment-title {
    max-width: 70rem;
    color: #ffffff;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 auto;
    text-align: center;
    top: 0;
    padding-bottom: 0;
    margin-top: 5rem;
}
body {
    background: url('../img/stripe_back.png') center top no-repeat, linear-gradient(52deg, #bbbbe5 0%, #9ba0df 100%);
    background-size:cover;

}

.text-payment {
    max-width: 95.1rem;
    color: #ffffff;
    font-size: 2.9rem;
    font-weight: 400;
    text-align: center;
    margin: auto;
    padding-top: 0;
    line-height: 1.3;
}

.text-payment__top {
    width: 58.7rem;
}

.text-payment__bottom {
    width: 57rem;
    margin-top: 5rem;
}

.text-payment__bottom b {
    font-weight: bold;
    display: block;
}
@media (max-width: 768px) {
    body {
        background: linear-gradient(52deg, #bbbbe5 0%, #9ba0df 100%);
        background-size:cover;
    
    }
    .payment-title {
        font-size: 4.2rem;
    }
}
.sr-root {
    min-height: 0;
}