html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'Harmonia';
    src: url("../fonts/HarmoniaSansProCyr-Light.woff2") format("woff2"), url("../../fonts/HarmoniaSansProCyr-Light.ttf") format("truetype"), url("../../fonts/HarmoniaSansProCyr-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Harmonia';
    src: url("../fonts/HarmoniaSansProCyr-Regular.woff2") format("woff2"), url("../../fonts/HarmoniaSansProCyr-Regular.ttf") format("truetype"), url("../../fonts/HarmoniaSansProCyr-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Harmonia';
    src: url("../fonts/HarmoniaSansProCyr-Bold.woff2") format("woff2"), url("../../fonts/HarmoniaSansProCyr-Bold.ttf") format("truetype"), url("../../fonts/HarmoniaSansProCyr-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Harmonia';
    src: url("../fonts/HarmoniaSansProCyr-Black.woff2") format("woff2"), url("../../fonts/HarmoniaSansProCyr-Black.ttf") format("truetype"), url("../../fonts/HarmoniaSansProCyr-Black.woff") format("woff");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Harmonia';
    src: url("../fonts/HarmoniaSansProCyr-Bold_1.woff2") format("woff2"), url("../../fonts/HarmoniaSansProCyr-Bold_1.ttf") format("truetype"), url("../../fonts/HarmoniaSansProCyr-Bold_1.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'RBNo3.1';
    src: url('../fonts/RBNo31-Bold.woff2') format('woff2'),
    url('../fonts/RBNo31-Bold.woff') format('woff'),
    url('../fonts/RBNo31-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RBNo3.1';
    src: url('../fonts/RBNo31-Book.woff2') format('woff2'),
    url('../fonts/RBNo31-Book.woff') format('woff'),
    url('../fonts/RBNo31-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RBNo3.1';
    src: url('../fonts/RBNo31-Light.woff2') format('woff2'),
    url('../fonts/RBNo31-Light.woff') format('woff'),
    url('../fonts/RBNo31-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RBNo3.1';
    src: url('../fonts/RBNo31-ExtraLight.woff2') format('woff2'),
    url('../fonts/RBNo31-ExtraLight.woff') format('woff'),
    url('../fonts/RBNo31-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

html {
    font-size: calc(10vw / 18.76);
}

html,
body {
    font-family: 'RBNo3.1', Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 158rem;
    margin: 0 auto;
}

.title {
    font-size: 8rem;
    font-weight: 700;
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input {
    padding: 1rem 0;
    color: #ffffff;
}


.header {
    display: flex;
}

.header__left {
    max-width: 93.5rem;
    background-color: #f7f7f7;;
    width: 100%;
    box-sizing: border-box;
    padding: 6.7rem 8rem 6.5rem 15rem;
}

.header__right {
    background-color: #959be7;
    max-width: 93.5rem;
    width: 100%;
    box-sizing: border-box;
    padding: 6.8rem 12rem 0 8.3rem;
}

.header__left svg {
    width: 31.5rem;
    height: 11rem;
    padding-bottom: 10.4rem;
}

.header__text {
    color: #242021;
    font-size: 4rem;
    font-weight: 300;
    padding-bottom: 7.2rem;
    line-height: 1.2;
    padding-right: 2.5rem;
}

.header__text b {
    font-weight: 700;
}

.header__center {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6.9rem;
}

.header__price {
    color: #242021;
    font-size: 3rem;
    font-weight: 400;
    display: block;
}

.header__price b {
    font-size: 4rem;
    font-weight: 700;
}

.header__next a {
    color: #242022;
    font-size: 4rem;
    font-weight: 400;
    display: block;
    text-decoration: none;
    margin-right: 3.3rem;
    border-bottom: 0.15rem solid #242022;
}

.header__text--2 {
    color: #414141;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.21;
    padding: 0;
}

.button__header {
    width: 21.1rem;
    height: 6.7rem;
    background-color: #252122;
    border: none;
    color: #ffffff;
    font-size: 2.9rem;
    font-weight: 400;
    line-height: 6rem;
    font-family: 'RBNo3.1', Helvetica, Arial, sans-serif;
    margin: 0 auto 7.6rem;
    padding: .4rem 1rem 0;
    display: block;
    text-transform: uppercase;
}

.text {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 400;
}

.text--2 {
    text-align: center;
}

.header__logo--inst {
    width: 59rem;
    height: 33.4rem;
    padding: 0 0 25rem;
    margin: 0 auto;
}

.number__people {
    color: #fefefe;
    font-size: 8rem;
    font-weight: 400;
    padding: 0 0 3.5rem;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.header__logo--people {
    width: 6.6rem;
    height: 6.1rem;
    padding: 0 0 2.5rem;
    margin: 0 auto;
}

.header__text--sub {
    color: #0f0f0f;
    font-size: 3rem;
    font-weight: 400;
    padding: 0 0 0 28.2rem;
}

.steps {
    margin-top: 6.5rem;
}

.title__steps {
    color: #2d292a;
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 6.9rem 0;
}

.step__numbers {
    display: flex;
    max-width: 131rem;
    justify-content: space-between;
    color: #2d292a;
    font-size: 2.8rem;
    font-weight: 400;
    margin-top: -1rem;
}

.step__number {
    width: 8.3rem;
    height: 8.3rem;
    border: none;
    border-radius: 50%;
    font-size: 6rem;
    text-align: center;
    background: #747ad9;
    line-height: 1;
    font-weight: 700;
    flex-shrink: 0;
    margin-bottom: 8rem;
    margin-left: 6rem;
    position: relative;
    padding-top: 1.6rem;
    box-sizing: border-box;
    line-height: 1;
}

.Win32 .step__number {
    padding-top: 1rem;
}

.step__number--last {
    margin-left: 3rem;
}

.step__number--line:after {
    content: " ";
    position: absolute;
    width: 120rem;
    height: 0.3rem;
    background-color: #706668;
    top: 49%;
    left: 8rem;
    z-index: -1;
}

.step__items {
    display: flex;
    max-width: 158rem;
    justify-content: space-between;
    color: #2d292a;
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 6.5rem;
    position: relative;
}

.step__item {
    width: 23%;
}

.step__item:last-child {
    position: relative;
    left: 4rem
}

.step__text {
    line-height: 1.2;
    margin-bottom: 3.3rem;
}

.step__name {
    margin-bottom: 3.8rem;
}


.next-give {
    margin-bottom: 6.5rem
}

.next-give__right {
    width: 56%;
    text-align: right;
}

.next-give__container {
    display: flex;
    max-width: 157.7rem;
}

.next-give__title {
    color: #2d292a;
    font-size: 4rem;
    font-weight: 700;
    margin: 0 0 6.5rem;
    text-align: center;
}

.no_margin {
    margin: 0 !important;
}

.next-give__left {
    display: flex;
}


.next-give__name {
    color: #2d292a;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.next-give__logo {
    margin-right: 3.3rem;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    width: 26.5rem;
    height: 26.5rem;
}

.next-give__desc {
    max-width: 40rem;
    line-height: 2.2rem;
}

.next-give__text {
    color: #2d292a;
    font-size: 2.5rem;
    font-weight: 400;
    padding-right: 3rem;
}

.next-give__text--2 {
    margin-bottom: 2.7rem;
    line-height: 1.2;
}

.next-give__right--container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #2d292a;
    font-size: 3rem;
    line-height: 2rem;
}

.next-give__right-text--indent {
    text-align: center;
    margin-bottom: 5.9rem;
}

.next-give__right-text--bold {
    font-weight: 700;
    text-align: center;
}


.next-give__right--button {
    padding-top: 13.5rem;
    background: none;
    border: medium none;
    text-transform: uppercase;
    color: #2d292a;
    font-size: 3.5rem;
    font-weight: 700;
    border-bottom: 0.15rem solid #242022;
    padding-left: 0;
    padding-right: 0;
}

.info-give {
    padding: 6.5rem 0 0 0;
    background-color: #8f94ef;
    margin-bottom: 6.5rem;
}

.title__info {
    color: #2d292a;
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.info-give__title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 6rem;
    text-transform: none;
    display: block;
}

.info-give__logo {
    display: flex;
    flex-shrink: 0;
    width: 25%;
    height: 100%;
    margin-top: -4rem;
    justify-content: center;
}

.info-give__items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6.5rem;
    align-items: flex-start;
}

.info-give__item {
    display: flex;
    color: #2d292a;
    font-size: 2.5rem;
    font-weight: 400;
    width: 50%;
    margin-bottom: 6.5rem;
}

.info-give__title--item {
    margin-bottom: 1rem;
    font-weight: 700;
}

.info-give__content {
    padding-right: 6.4rem;
}

.info-give__text {
    line-height: 1.2;
}


.footer {
    background-color: #dcdcdc;
    padding: 6.5rem 0 6.5rem
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__left {
    color: #7e7e7e;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.footer__middle {
    padding: 0 18rem 0 0
}

.footer__right {
    border: medium none;
    background-image: none;
    background: transparent;
    background-color: transparent;
    font-size: 3rem;
    font-weight: 400;
    border-bottom: 0.15rem solid #7e7e7e;
    padding-left: 0;
    padding-right: 0;
    color: #7e7e7e;
    position: relative;
    padding: 0;
    top: -.5rem;
}

.footer__right-link {
    text-decoration: none;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.popup {
    height: 100vh;
    background-image: linear-gradient(-52deg, #656abe 0%, #8991fe 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form {
    width: 66.7rem;
    margin: 0 auto;
}


.popup__name {
    color: #ffffff;
    font-size: 6rem;
    font-weight: 700;
    padding-bottom: 3.4rem;
}

.popup__text {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 100;
    padding-bottom: 8rem;
    line-height: 1.2;
}

.reg__name,
.reg__inst {
    padding-bottom: 3.5rem;
}

.reg__name input,
.reg__inst input,
.reg__number input {
    width: 100%;
    background: none;
    border: none;
    font-size: 3rem;
    border-bottom: 0.15rem solid #ffffff;
    font-family: 'RBNo3.1', Helvetica, Arial, sans-serif;
}

.popup__link--submit {
    display: flex;
    justify-content: space-between;
    padding-top: 8rem;
    align-items: center;
}

.reg__link {
    display: flex;
    align-items: center;
}

.reg__link a {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 100;
    display: block;
    text-decoration: none;
    margin-left: 3.3rem;
    line-height: 3rem;
}

@media (max-width: 768px) {
    .reg__link a {
        margin-left: 0.3rem;
    }

    #popup-participate {
        box-sizing: border-box;
        padding-bottom: 10rem;
    }
    .margin_top_mob{
        margin-top: 5rem;
    }
}

.popup__submit {
    border: medium none;
    background-image: none;
    background: transparent;
    background-color: transparent;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 100;
    border: 0.15rem solid #ffffff;
    width: 23.8rem;
    height: 6.6rem;
    font-family: 'RBNo3.1', Helvetica, Arial, sans-serif;
}

.popup__exit--button {
    border: medium none;
    background-color: transparent;
    position: absolute;
    top: 5rem;
    right: 15rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.popup__exit--button::after,
.popup__exit--button::before {
    content: "";
    background: #ffffff;
    width: 100%;
    height: 0.2rem;
    position: absolute;
    left: 0;
}


.popup__exit--button::after {
    transform: rotate(45deg);
}

.popup__exit--button::before {
    transform: rotate(-45deg);
}

.form__name--number {
    display: flex;
    justify-content: space-between;
    width: 109.4rem;
    margin-left: -21rem;
}

.form__submit {
    text-align: center;
}

.form__btn {
    border: medium none;
    background-image: none;
    background: transparent;
    background-color: transparent;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 100;
    border: 0.15rem solid #ffffff;
    width: 23.8rem;
    height: 6.6rem;
    margin-top: 16.7rem;
    text-align: center;
    font-family: 'RBNo3.1', Helvetica, Arial, sans-serif;
}

.form--2 {
    margin-top: 5rem;
}

.form__name input,
.form__number input {
    width: 100%;
    background: none;
    border: none;
    font-size: 3rem;
    border-bottom: 0.15rem solid #ffffff;
    width: 50rem;
    font-family: 'RBNo3.1', Helvetica, Arial, sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}

.info-give__png {
    width: 20rem;
    height: 20rem;
}

.header {
    overflow: hidden;
}

.container {
    overflow: hidden;
}

@media (max-width: 768px) {
    .popup__submit {
        width: 16.8rem;
    }

    html {
        font-size: calc(10vw / 6.68);
    }

    .text {
        line-height: 1.3;
    }

    .container {
        width: 100%;
        overflow: hidden;
    }

    .header {
        overflow: hidden;
    }

    .header {
        flex-direction: column;
    }

    .header__left {
        max-width: 100%;
        padding: 6.7rem 4rem 6.5rem;
    }

    .header__right {
        max-width: 100%;
        padding: 6.5rem 4rem;
        text-align: center;
    }

    .button__header {

        position: absolute;
        top: 6.7rem;
        right: 4rem;
    }

    .number__people {
        padding: 0 0 4.5rem;
    }

    .header__logo--people {
        padding: 0 0 2.5rem;
        margin: 0 auto;
    }

    .header__text--sub {
        padding: 0 0 0;
    }

    .step__items {
        flex-direction: column;
        text-align: center;
        margin-bottom: 6.5rem;
    }

    .step__item {
        padding: 0 3rem;
        width: 100%;
        box-sizing: border-box;
    }

    .step__number {
        margin: 4rem auto 2.5rem;
    }

    .step__number--line:after {
        display: none;
    }

    .title__steps {
        text-align: center;
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    .step__item:last-child {
        left: 0;
    }

    .next-give {
        width: 100%;
        flex-direction: column;
    }

    .next-give__title {
        font-size: 6rem;
        margin: 0 0 8rem 0;
        text-align: center;
    }

    .next-give__container {
        flex-direction: column;
        align-items: center;
    }

    .next-give__left {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .next-give__desc {
        text-align: center;
        margin: 8rem 0;
        max-width: 100%;
    }

    .next-give__name {
        font-size: 5rem;
        margin-bottom: 6rem;
    }

    .next-give__text {
        font-size: 3.5rem;
        padding: 0 3rem;
    }

    .next-give__text--2 {
        margin-bottom: 0;
        line-height: 1.3;
    }

    .next-give__right {
        text-align: center;
    }

    .next-give__right--container {
        flex-direction: column;
        font-size: 4rem;
    }

    .next-give__logo {
        margin-right: 0;
        width: 30rem;
        height: 30rem;
    }

    .next-give__logo img {
        width: 100%;
    }

    .next-give__right-text--indent {
        margin-bottom: 3rem;
    }

    .next-give__right-text--bold {
        margin-bottom: 11rem;
        line-height: 1.2;
    }

    .next-give__right--button {
        font-size: 4.5rem;
        padding-top: 0;
    }

    .info-give {
        padding: 6.5rem 0 0 0;
    }

    .title__info {
        text-align: center;
    }

    .info-give__items {
        flex-direction: column;
        align-content: center;
        padding-top: 0;
        padding-bottom: 6.5rem;
    }

    .info-give__item {
        flex-direction: column;
        font-size: 3rem;
        margin-bottom: 0;
        box-sizing: border-box;
        padding: 0 3rem;
        width: 100%;
        text-align: center;
    }

    .info-give__logo {
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }

    .info-give__png {
        width: 30rem;
        height: 30rem;
    }

    .info-give__title--item {
        text-align: center;
        font-size: 4rem;
    }

    .info-give__content {
        padding-right: 0;
    }

    .info-give__text {
        line-height: 1.4;
        margin-bottom: 3rem;
        text-align: center;
    }

    .footer .container {
        flex-direction: column;
        padding: 3rem 0;
    }

    .footer__middle {
        padding: 3.2rem 0rem 3.2rem 0;
    }

    .footer__inst {
        width: 8rem;
    }

    .footer__right {
        left: 0;
        margin-bottom: 15px;
    }

    .popup {
        min-height: 100vh;
        height: auto;
        align-items: flex-start;
        max-height: 100vh;
        overflow: auto;
    }

    .popup__container {
        width: 100%;
        padding: 15rem 4rem 5rem;
    }

    .popup__exit--button {
        right: 6rem;
    }

    .form {
        width: 100%;
    }

    .popup__title {
        text-align: left;
    }

    .form__name--number {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    .popup__text {
        font-size: 3.3rem;
    }

    .form__btn {
        margin-top: 7.7rem;
    }

    .form__name {
        padding-bottom: 3.5rem;
    }

    .form__name input,
    .form__number input {
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        font-size: 4.5rem;
    }

    .form__btn,
    .popup__submit {
        height: 7.6rem;
        padding-top: 1rem;
    }

    .form--2 {
        margin-top: 0;
    }

    input {
        padding: 2rem 0;
    }

    .header__left svg {
        padding-bottom: 6.4rem;
        height: auto;
        width: 22rem
    }

}


.popup__container--thank {
    width: 40.1rem;
}

.popup__name--thank {
    padding-bottom: 9.4rem;
}

.popup__text--thank {
    padding-bottom: 0;
    font-size: 2.9rem;
}

.popup__title .popup__text--thank:last-child {
    padding-top: 5rem;
}

.float {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 17px;
}

.checkbox__svg {
    width: 30px;
    display: inline-block;
    stroke-width: 1px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox__svg path:nth-child(1) {
    display: none;
}

#agree {
    display: none;
}

#agree:checked + .checkbox__svg path:nth-child(1) {
    display: inline-block;
}

.fa {
    font-size: -webkit-xxx-large !important;
}